{% extends 'partials/base.html' %}
{% block title %} Order Page {% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order by</th>
                            <th scope="col">Status</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.product.name }}</td>
                            <td>{{ order.product.category }}</td>
                            <td>{{ order.order_quantity }}</td>
                            <td>{{ order.staff.username }}</td>
                        <td>
                            <span class="badge 
                            {% if order.status == 'Cancelled' %}bg-danger
                            {% elif order.status == 'Delivered' %}bg-success
                            {% elif order.status == 'For Delivery' %}bg-warning
                            {% else %}bg-info{% endif %}">
                            {{ order.status }}
                            </span>
                        </td>

                            <td>{{ order.order_date }}</td>

                        <td>
                            {% if order.status == "Processing" %}
                                <a href="{% url 'dashboard-cancel-order' order.id %}"
                                    class="btn btn-danger btn-sm">
                                Cancel
                        </a>

                            {% elif order.status == "Cancelled" %}
                                <span class="badge bg-secondary">Cancelled</span>

                            {% elif order.status == "Delivered" %}
                                <span class="badge bg-success">Delivered</span>

                            {% elif order.status == "For Delivery" %}
                                <span class="badge bg-warning">For Delivery</span>

                            {% else %}
                                <span class="badge bg-info">Processing</span>
                            {% endif %}
                        </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->

{% endblock %}