    {% extends 'partials/base.html' %}
    {% block title %} Logout Page {% endblock %}
    {% load crispy_forms_tags %}

    {% block content %}
        <div class = "container">
            <div class ="row mt-5">
                <div class = "col-md-6 offset-md-3">
                    <div class = "border p-3 bg-white">
                        <div class="alert alert-success" role="alert">
                        {% csrf_token %}
                        <h3>Logout Page</h3>
                        <hr>
                        <p>You have been logged out. Click <a href="{% url 'user_login' %}">here</a> to log in again.</p>
                        </div>  
                    </div>
                </div> 
            </div>
        </div>

    {% endblock %}